# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pkl
*.faiss

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db



# Secrets and Environment
.env
.streamlit/secrets.toml
rag_retrieval/.streamlit/secrets.toml
